html {
  background-color: #130f40;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Roboto', sans-serif;
}